.edit-recipe-info-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.edit-recipe-title {
  height: 40px;
  font-size: 1.4rem;
}

.edit-recipe-image-container {
  display: flex;
  justify-content: center;
}

.edit-recipe-yield {
  width: 50px;
  font-size: 1.2rem;
}

.edit-recipe-time {
  width: 50px;
  font-size: 1.2rem;
}

.edit-recipe-description {
  margin-bottom: 10px;
  width: 70vw;
  font: 1.2rem Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

.edit-recipe-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding-top: 40px;
}

.edit-recipe-buttons-container button {
  margin: 0px 15px;
  width: 125px;
  height: 40px;
  border: 1px solid rgba(0, 206, 142, 1);
  color: rgba(0, 206, 142, 1);
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-sizing: border-box;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.edit-recipe-buttons-container button:hover {
  background-color: #00CE8E;
  color: white;
}