footer {
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: black;
  z-index: 8;
}

.footer-links{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.footer-links p {
  padding: 0px 5px;
}
.footer-links a:visited,a:link {
  color: white;
}