.modal-container {
  overflow: hidden;
  height: 500px;
  display: flex;
}

.modal-image {
  max-width: 375px;
}

.modal-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-login-form-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-text {
  text-align: center;
  font-size: 1.5rem;
}

.modal-email-input {
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
}

.modal-continue-btn-container {
  padding-top: 10px;
}

.modal-continue-btn {
  width: 300px;
  height: 40px;
  border: none;
  color: white;
  background-color: #00CE8E;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.2rem;
  box-sizing: border-box;
}


