.new-instructions-page-container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: 75px 0px;
}

.new-instructions-body-container {
  display: flex;
  width: 70vw;
}

.new-instructions-form-container {
  width: 25vw;
}

.new-instructions-form-container form {
  display: flex;
  flex-direction: column;
}

.new-instructions-title {
  font-size: 1.5rem;
}

.new-instructions-num {
  width: 40px;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.new-instructions-content {
  margin-top: 15px;
  width: 90%;
  font: 1.2rem Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

.new-instructions-submit-btn {
  width: 140px;
  height: 35px;
  border: 1px solid rgba(0, 206, 142, 1);
  color: rgba(0, 206, 142, 1);
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  margin: 8px 0px;
  text-decoration: none;
  font-size: 1.1rem;
  box-sizing: border-box;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.new-instructions-submit-btn:hover {
  background-color: #00CE8E;
  color: white;
}

.new-instructions-form-container label {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 0px;
  color: rgba(0, 206, 142, 1);
}

#ing-list-instructions {
  width: 20vw;
}

.new-steps-list-container {
  width: 25vw;
}

.placeholder-text-container {
  width: 25vw;
  height: 12vw;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 206, 142, .4);
}

.new-recipe-steps-list {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 25px;
}

.instructions-step-num {
  margin: 4px 0px;
}

.new-instructions-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding-top: 50px;
}

.new-instructions-buttons-container button {
  margin: 0px 15px;
  width: 125px;
  height: 40px;
  border: 1px solid rgba(0, 206, 142, 1);
  color: rgba(0, 206, 142, 1);
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.5rem;
  box-sizing: border-box;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.new-instructions-buttons-container button:hover {
  background-color: #00CE8E;
  color: white;
}

.new-instructions-page-title {
  color: #00CE8E;
}