nav {
  position: fixed;
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 66px;
  border-bottom: 0.1rem solid #DCDEDD;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  z-index: 8;
  box-sizing: border-box;
  padding: 0px 20px;
}


.logo-link, .recipes-link {
  color: white;
  text-decoration: none;
}

.logo-link:visited, .logo-link:link, .recipes-link:visited, .recipes-link:link {
  color: white;
  text-decoration: none;
}

.nav-logo-container {
  display: flex;
  flex-direction: row;
}

.logo-link {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.nav-logo-button{
  width: 180px;
  height: 45px;
  /* background-image: url("logo.png");
  background-size: 20%;
  background-repeat: no-repeat; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* border: none;
  background-color: transparent; */
}

.nav-logo-text{
  color: #00CE8E;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 450px;
}

.user-container-loggedin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.new-recipe-link, .recipes-link-btn {
  width: 125px;
  height: 40px;
  border: none;
  color: white;
  background-color: #00CE8E;
  cursor: pointer;
  padding: 10px 20px;
  margin: 8px 0px;
  text-decoration: none;
  font-size: 1.05rem;
  box-sizing: border-box; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
