.recipe-container {
display: flex;
flex-direction: column;
align-items: center;
padding: 75px 0px;
}

.recipe-head-container{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 70vw;
}

.recipe-title-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 70vw;
}

.recipe-author {
  margin-top: 0px;
}

.recipe-info-container {
  padding-right: 20px;
}

.recipe-yield, .recipe-time {
  font-weight: bold;
}

.recipe-yield span, .recipe-time span {
  font-weight: normal;
}



.recipe-image-container {
  padding-left: 20px;
}

.recipe-image {
  max-width: 50vw;
  max-height: 50vh;
}

.recipe-middle-container{
  display: flex;
  padding-top: 40px;
  width: 70vw;
}

hr {
  width: 70vw;
}

.recipe-ingredients-container {
  width: 20vw;
}

.recipe-steps-container {
  width: 50vw;
}

.edit-button, .delete-button {
  width: 125px;
  height: 30px;
  border: 1px solid rgba(0, 206, 142, 1);
  color: rgba(0, 206, 142, 1);
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1rem;
  box-sizing: border-box;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.edit-button:hover, .delete-button:hover {
  background-color: #00CE8E;
  color: white;
}

.edit-button {
  margin-right: 10px;
}